body {
    width: 100Vh ; 
    height: 100Vw;
    overflow: hidden;
  
  }
 
  
p#id {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  font-style: bold;
  color: rgb(200, 200, 225);
  margin-left: 50%;
 

}

  h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(64, 172, 219);
    margin: 10px 30px;
  }
      
      ul {
        width:200px;
        height: 250px;
        text-decoration: none;
        list-style: none;
        opacity: 0;
        margin: 0;
        padding-top: 10px;
        position: relative;
        transition-duration: 700ms;
        transition-property: padding-top , opacity ;
        transition-timing-function: cubic-bezier(1,.11,.22,1.41);
        transition-delay: 0ms;
        cursor: pointer;
      } 
      ul:hover {
        opacity: 1;
        padding-top: 130px;
        transition-timing-function: ease-in-out;
      }
    
    
      img {
        width: 100px;
        height: 100px;
        background: white;
        position: absolute;
        margin: 10px 40px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 3px;
      }
      
      li {
        padding: 20px 10px;
        text-decoration: none;
        color: grey;
      }

      .white {
        background: #fff;
        font-weight: bold;
        border:1px inset grey;
        border-radius: 3px;
      }
      .white:hover {
        color:rgb(177, 244, 244);
       
      }
      
      .red {
        background: red;
        font-weight: bold;
        border:1px inset grey;
        border-radius: 3px;
      }
      .red:hover {
        color:rgb(246, 155, 155);
       
      }
      .orange {
        background: orange;
        font-weight: bold;
        border:1px inset grey;
        border-radius: 3px;
      }
      .orange:hover {
        color:rgb(244, 197, 148);
       
      }
      .purple {
        background: purple;
        font-weight: bold;
        border:1px inset grey;
        border-radius: 3px;
      }
      .purple:hover {
        color:rgb(244, 186, 244);
       
      }
      .green {
        background: green;
        font-weight: bold;
        border:1px inset grey;
        border-radius: 3px;
      }
      .green:hover {
        color:rgb(169, 236, 191);
       
      }
     #white {
       background: #fff;
       
     }

     #red {
        background: red;
       
     }
      #orange {
        background: orange;
       

      }
      #purple {
        background: purple;
     
      }
      #green {
        background: green;
     
      }
      
   